<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>questionServlet</servlet-name>
    <servlet-class>pl.johnny.gwtQuiz.server.QuestionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>questionServlet</servlet-name>
    <url-pattern>/gwtQuiz/questionService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTQuiz.html</welcome-file>
  </welcome-file-list>
  
  <!-- Upload servlet -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>pl.johnny.gwtQuiz.server.FileUploadServlet</servlet-class>
	</servlet>

	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/gwtQuiz/upload</url-pattern>
	</servlet-mapping>

</web-app>
